<main class="index">

    <style>
        body {
                overflow: hidden;
        }
    </style>

    <header class="masthead 0-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 txt-black">{{ title }}</h1>
            <h3 class="mb-5 txt-black">
                <em>{{ mensaje }}</em>
            </h3>
            <a href="/" class="btn btn-primary">Inicio</a>
            <a href="javascript: history.go(-1)" class="btn btn-secondary">Volver</a>
        </div>
    </header>

</main>